@page
@model Grocery.WebShop.UI.Pages.Shopping.PaymentModel;
@using Grocery.Core.Models;
@{
}
<h1>Payment</h1>

<div class="container">
    @foreach (Product product in Model.ShoppingCart)
    {
        <p>@product.Name</p>
    }




</div>




